<div class="col-md-12">
	<h4><strong>General information</strong></h4>
	<p>
		Angular Chemistry is a package for AngularJS, that provides you a bunch of chemistry-related tools.
		It requires <a href="https://docs.angularjs.org/api/ngSanitize"><strong>ngSanitize</strong></a> module to work.
		Currently, the following functionalities are available:
	</p>
	<ul>
		<li ng-repeat="(key, value) in MainCtrl.toolsDescription">
			<p>
				<span ng-bind="value.title"></span> -
				<span ng-bind="value.desc"></span>
			</p>
		</li>
	</ul>
	<p>
		Please consult the <a href="#/api">Api documentation</a> for detailed information and examples.
	</p>
	<h4><strong>Help</strong></h4>
	<p>
		If you have any questions, you can mail me at michalmmalik@gmail.com.
	</p>
	<h4><strong>License</strong></h4>
	<p>Angular Chemistry is distributed under MIT license.</p>
	<h4><strong>Github</strong></h4>
	<p>Follow the project on <a href="https://github.com/MMMalik/angular-chemistry">Github</a>! <img rel="octocat" width="3%" src="images/github.png"/>
	</p>
</div>