<div class="row">
	<div class="col-md-12">
		<ul class="list-inline">
			<li><a href="#/">Home</a></li>
			<li><a href="#/api">Api Docs</a></li>
			<li><a href="https://github.com/MMMalik/angular-chemistry">Github</a></li>
			<li>
				<a ng-href="https://github.com/MMMalik/angular-chemistry/archive/{{MainCtrl.version}}.zip">
					<strong>latest: <span ng-bind="MainCtrl.version"></span></strong>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="row row-no-padding">
    <div class="col-md-12"><hr/></div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>
			Angular Chemistry <small>a set of chemistry-related tools for AngularJS</small>
		</h2>
	</div>
</div>
<div class="row row-no-padding">
    <div class="col-md-12"><hr/></div>
</div>