body {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: hidden; }

.no-top-margin {
  margin-top: 0; }

.table-borderless > tbody > tr > td {
  border-top: 0 none; }

.red {
  color: red; }

.mm-content {
  margin: 5px 10px 5px 10px; }
  @media (min-width: 768px) {
    .mm-content {
      margin: 25px 50px 25px 50px; } }
  @media (min-width: 1200px) {
    .mm-content {
      margin: 50px 100px 50px 100px; } }

.mm-title {
  margin: 0px 5px 0px 5px; }
  @media (min-width: 768px) {
    .mm-title {
      margin: 0px 25px 0px 50px; } }
  @media (min-width: 1200px) {
    .mm-title {
      margin: 0px 50px 0px 100px; } }
